/* src/index.css */

/* Reset básico + herança de fonte */
html {
  scroll-behavior: smooth;
}

body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--mui-background-default, #fafafa);
  color: var(--mui-text-primary, #000);
}

/* Corrige comportamento de scroll e body flex */
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--mui-background-default);
}

/* Ajuste para o container raiz do MUI */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
